/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: "Raleway";
    
    background-color: rgba(0, 0, 0, 0.856);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1em;

    background-color: whitesmoke;

    margin: 1em;
    padding: 0.5em;
}

header img {
    height: 5em;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    
    color: white;
    -webkit-text-stroke: black 1.5px;
    text-shadow: 5px 5px 15px black;
}

#main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sideBar {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    justify-content: space-between;

    margin: 1em;
    padding: 1em;
}

.sideBar h1 {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    -webkit-text-stroke: black 1.5px;

    transition-property: color, -webkit-text-stroke, background-color;
    transition-duration: 1s;
    margin-bottom: 3%;
}


.sideBar li {
    font-size: 1.5em;
    transition-property: color, font-size, background-color;
    transition-duration: 1s;

    padding: 0.1em;
    margin-bottom: 0.5em;
}

.sideBar li:hover {
    color: whitesmoke;
    font-size: 2em;
    font-weight: bold;
    background-color: black;

    cursor: pointer;
}

.sideBar button {
    align-items: end;
    margin-right: 0.5em;
    border: none;
    padding: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;

    transition-property: color, background-color;
    transition-duration: 1s;
}

.sideBar button:hover {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    cursor: pointer;
}


.todo-content {
    display: grid;
    grid-template-rows: repeat(1fr);
}

.todo {
    background-color: whitesmoke;
    margin: 1em;
    padding: 1em;
    gap: 0.25em;

    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    align-items: center;
    justify-content: center;

    transition-property: color, background-color, visibility;
    transition-duration: 1s;

    grid-column: 2/3;

    box-shadow: 10px 10px 10px black;
}

.todo:hover {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

.todo-title {
    font-weight: bold;
    
    border-right: 2px solid black;
}

.todo-title:hover {
    border-right: 2px solid white;
}

.todo-desc {
    grid-row: 2/4;
}

.todo-checkbox {
    grid-column: 1/2;
}

.todo button {
    color: whitesmoke;
    background-color: black;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 1px whitesmoke;
}

.todo button:hover {
    cursor: pointer;
}

.dialog-box {
    color: black;
    background-color: rgb(240, 249, 255,0.5);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    transition: all 1s ease-in-out;
    z-index: 555;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1em;
}

.inner-dialog-box {
    background-color: whitesmoke;
    margin: 1em;
    padding: 1em;
    gap: 0.25em;

    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition-property: color, background-color;
    transition-duration: 1s;
}

#title-box,
#desc-box,
#date-box,
#priority-box,
.exit-btn,
.save-btn {
    border: none;
    border-bottom: 1px solid black;

    transition-property: color, -webkit-text-stroke, background-color;
    transition-duration: 1s;
}

.exit-btn:hover,
.save-btn:hover {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    cursor: pointer;
}

.project {
    
}